<!-- Hero Section -->
<div class="hero_area">
  <div class="slider_section position-relative">
    <div class="slider_container">
      <div class="img-box">
        <img src="../../../../assets/İmg/hero-img.jpg" alt="Car Rental Hero">
      </div>
      <div class="detail_container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="detail-box">
                <h1>
                  Number One<br>Car Rental<br>Service
                </h1>
                <a routerLink="/cars">Our Vehicles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Car Section -->
<div class="container-flued car_section layout_padding2-top layout_padding-bottom">
  <div class="container">
    <div class="heading_container">
      <h2>A Better Way to Find Your Favorite Cars</h2>
      <p>
        With the vision of "a brand new car rental experience," we have made significant strides in a very short time 
        and continue to serve our customers with quality without compromising on our increasing service points.
      </p>
    </div>
  </div>
</div>

<!-- Features Cards -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/İmg/c-1.png" class="card-img-top h-100 p-5" alt="Choose Your Car">
        <div class="card-body">
          <h5 class="card-title">Choose Your Car</h5>
          <p class="card-text">
            With flexible seating arrangements, automatic and manual transmission options, 
            you can choose cars that suit your needs.
          </p>
          <a routerLink="/cars" class="btn btn-primary auth">Select</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/İmg/c-2.png" class="card-img-top h-100 p-5" alt="Pick Up Your Car">
        <div class="card-body">
          <h5 class="card-title">Pick Up Your Car</h5>
          <p class="card-text">
            You can pick up and return your vehicle at the location you specify.
          </p>
          <a routerLink="/cars" class="btn btn-primary auth">Select</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/İmg/c-3.png" class="card-img-top h-100 p-5" alt="Contact Your Dealer">
        <div class="card-body">
          <h5 class="card-title">Contact Your Dealer</h5>
          <p class="card-text">
            You can contact the relevant dealer to get information about the vehicle.
          </p>
          <a href="#contact" class="btn btn-primary auth">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Best Section -->
<div class="container-flued best_section mt-5">
  <div class="container">
    <div class="book_now">
      <div class="detail-box">
        <h2>Our Best Cars</h2>
        <p>Enjoy a comfortable journey with new vehicles</p>
      </div>
    </div>
  </div>
</div>

<!-- Rent Section -->
<div class="container-flued rent_section layout_padding">
  <div class="container">
    <div class="rent_container">
      <div class="box card" *ngFor="let car of cars">
        <div class="img-box">
          <img 
            [src]="imageUrl + car.imagePath" 
            [alt]="car.carName" 
            class="card-img-top" 
            width="320" 
            height="200"
            onerror="this.src='assets/img/default-car.png'"
          />
        </div>
        <div class="price">
          <a routerLink="/car/rental/{{ car.carId }}">
            {{ car.dailyPrice | currency:'USD':'symbol':'1.2-2' }}
          </a>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a routerLink="/cars">View More</a>
    </div>
  </div>
</div>

<!-- Why Choose Us Section -->
<div class="container-flued us_section">
  <div class="container mt-5">
    <div class="heading_container mb-5">
      <h2 class="mb-5">Why Choose Us</h2>
      <p>
        Choose us because you'll receive a unique experience, warm welcome, and excellent service. 
        We are fully committed to meeting your needs with affordable, reliable, and creative solutions. 
        Our services are tailored to you. As a leader in the car rental sector in this region, we are 
        passionate about growing and developing. Fast and professional service with a friendly approach 
        is our top priority, which is why we do what we do best with you.
      </p>
    </div>
  </div>
  
  <div class="us_container layout_padding2">
    <div class="content_box">
      <div class="box">
        <div class="img-box">
          <img src="../../../../assets/İmg/u-1.png" alt="Low Rental">
        </div>
        <div class="detail-box">
          <h5>Low Rental Rates</h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../../assets/İmg/u-2.png" alt="Fast Cars">
        </div>
        <div class="detail-box">
          <h5>Fast Cars</h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../../assets/İmg/u-3.png" alt="Safe Cars">
        </div>
        <div class="detail-box">
          <h5>Safe Cars</h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../../assets/İmg/u-4.png" alt="Fast Support">
        </div>
        <div class="detail-box">
          <h5>Fast Support</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="container-flued contact_section layout_padding" id="contact">
  <div class="container">
    <div class="contact_items">
      <a href="#">
        <div class="img-box">
          <img src="../../../../assets/İmg/location.png" alt="Location">
        </div>
        <h6>Parseller Mah. Cihannur Sok. No:10 Ümraniye/Istanbul</h6>
      </a>
      <a href="tel:+905452066565">
        <div class="img-box">
          <img src="../../../../assets/İmg/call.png" alt="Phone">
        </div>
        <h6>(+90 0545 206 6565)</h6>
      </a>
      <a href="mailto:kaya67380@gmail.com">
        <div class="img-box">
          <img src="../../../../assets/İmg/mail.png" alt="Email">
        </div>
        <h6>kaya67380@gmail.com</h6>
      </a>
    </div>
    
    <div class="social_container">
      <div class="social-box">
        <div>
          <a href="#"><img src="../../../../assets/İmg/fb.png" alt="Facebook"></a>
        </div>
        <div>
          <a href="#"><img src="../../../../assets/İmg/twitter.png" alt="Twitter"></a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/samet-kaya-736604170/">
            <img src="../../../../assets/İmg/linkedin.png" alt="LinkedIn">
          </a>
        </div>
        <div>
          <a href="#"><img src="../../../../assets/İmg/insta.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map Section -->
<div class="container-flued map_section">
  <div class="map_container">
    <div class="map-responsive">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.743572888473!2d29.151815414953337!3d41.03086572598427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacec4e7242aa1%3A0xb9da8ab980e3c8e4!2sParseller%2C%20Cihannur%20Sk.%2C%2034773%20%C3%9Cmraniye%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1617399284787!5m2!1str!2str" 
        width="600" 
        height="300" 
        frameborder="0" 
        style="border:0; width: 100%; height:100%" 
        allowfullscreen="" 
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>

<app-footer></app-footer>